/* * {
  color: #fd1745;

  color: #f50066;
  color: #ff0077;
  color: #d400ff;
  color: #0064e7;
  color: #12100e;

  color: #ff00c8;

  color: #ffffff;


 #405de6;
 #5851db;
 #833ab4;
 #c13584;
 #e1306c;
 #fd1d1d;
} */
