/* * {
  color: #fd1745;

  color: #f50066;
  color: #ff0077;
  color: #d400ff;
  color: #0064e7;
  color: #12100e;

  color: #ff00c8;

  color: #ffffff;


 #405de6;
 #5851db;
 #833ab4;
 #c13584;
 #e1306c;
 #fd1d1d;

  #ff0027, #f70063, #e20f79, #c91f8c, #a02bac, #8436c3, #7140d3, #5c4ce3, #5151e7, #4256ed 
} */
